.container-SideBar{
    background-color: var(--bs-container-bg);
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    bottom: 0px;
    top: 0px;
    position: fixed;
    width: 250px;
    .logo{
        .title{
            align-items: center;
            display: flex;
            height: 70px;
            justify-content: center;
            margin: 0px;
            text-align: -webkit-center;
        }
    }
    .SideBar-menu ul{
        list-style: none;
        padding-left: 0;
        li{
            align-items: center;
            display: flex;
            margin: 0px 24px 0px 24px;
            padding: 16px 24px 16px 24px;
            .menu-pill{
                padding: 0.625rem;
                text-align: center;
                border-radius: 0.5rem;
                justify-content: center;
                align-items: center;
                display: flex;
                width: 2rem;
                height: 2rem;
                margin-right: 0.5rem;
                box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
                position: relative;
                z-index: 100;
            }
        }
    }
}